#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navbar{
 display: flex;
 justify-content: space-between;


}
.productos{
  display: block;

}

body {
  /* En tu archivo CSS */

  background-image: url('./components/CartWidget/assets/fondo.jpg');
  background-size: cover;
  background-position: 10% 90%;
}
.app{
  display: block;
  width: 100%; /* Ancho deseado */
  max-width: 1500px; /* Ancho máximo */
  margin: 0 auto; /* Margen automático para centrar horizontalmente */

}
.subtitulo{
  margin: 50px;
  padding: 50px;
}


